/*Grid Container*/
.grid_container{
  display:grid;
  gap:16px;
  padding:8px;
}

/* Two Column Grid */
.two_grid_column_container{
  grid-template-columns: repeat(2,1fr);
}

/*Cards*/
.card{
  border:1px solid #ccc;
  border-radius:8px;
  box-shadow:2px 2px 2px #ccc;
  padding:8px;
}

.card_header{
  width:50px;
  height:50px;
  border-radius:50%;
  border:2px solid goldenrod;
  overflow:hidden;
}

/* Section Heading */
.section_heading{
  text-align:center;
}

.section_heading h1{
  font-size:32px;
}

.section_heading h2{
  font-size:24px;
}

/*Flex Container*/
.flex-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:16px;
  padding:8px;
}

.section_heading h1{
  font-size:32px;
}

.section_heading h2{
  font-size:24px;
}

/*Flex Container*/
.flex-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:16px;
  padding:8px;
}

/*Forms*/
.form{
  width:100%;
  padding:8px 0;
}

.form label{
  display:block;
  margin-bottom:2px;
  font-weight:600;
}

.form .form-control{
  margin-bottom:12px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"]{
  width:100%;
  padding:4px 8px;
  height:40px;
  outline:none;
  /* border-radius:5px; */
  border:2px solid #ccc;
  border-radius:4px;
}

/* Buttons */
.button{
  display:inline-block;
  padding:8px;
  font-size:18px;
  text-align:center;
  cursor:pointer;
  border:none;
  outline:none;
}

.button-primary{
  background-color:#72AD21;
  color:#fff;
}

.button-secondary{
  background-color:rgb(224, 65, 65);
  color:#111;
}

.button-large{
  width:100%;
}


.disabled-button{
  opacity:0.7;
  cursor:not-allowed;
}

/* .re-enabled-button{
  opacity:1;
  cursor:pointer;
} */

/* Submit Form Button Styles */
.js-form-submit-btn{
  margin-top:8px;
  border-radius:4px;
}

/* Footer */
.js-footer{
  background-color:#333;
  color:#fff;
  height:auto;
  padding:16px;
}

.footer-heading{
  text-align:center;
}

.footer-heading h5{
  font-size:20px;
}

.footer_container div:nth-of-type(1),
.footer_container div:nth-of-type(2),
.footer_container div:not(:last-child){
  margin-bottom:16px;
}


/* Icons Styles */
i{
  font-size:18px;
}

/* Images Styles */
img{
  width:100%;
  height:100%;
  /* object-fit: cover; */
  object-position: center;
}

/* Main */
.js-main section{
  padding:24px 16px;
}

.js-main section:nth-child(odd){
  background-color:cornsilk;
  margin:0;
  /* padding:16px; */
}