.grid_container{
  display:grid;
  gap:16px;
  padding:8px;
}

.card{
  border:1px solid #ccc;
  border-radius:8px;
  box-shadow:2px 2px 2px #333;
  padding:8px;
}

.two_grid_column_container{
  grid-template-columns: repeat(2,1fr);
}

.section_heading h2{
  text-align:center;
}

.flex-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:16px;
  padding:8px;
}