/* /Import Font Family Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap');

/*Reset the default styles*/
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

/* CSS Variables  */
:root{
  /* Container*/
   --container-max-width:1200px;
   --content-center-margin:0 auto;
   --container-padding:20px;

   /*Font Family*/
   --heading-font-family:"Poppins",sans-serif;
   --base-text-font-family:"Roboto","sans-serif";

   /*Links*/
   --link-cursor-type:pointer;

   /* z-index */
   --max-z-index:9999;
   --med-z-index:999;
   --min-z-index:-1;
}

html{
  scroll-behavior: smooth;
  line-height:1.5;
  font-size:100%;
}

/* Container Styles */
.container{
  max-width:var(--container-max-width);
  margin:var(--content-center-margin);
  padding:var(--container-padding);
}

/* Mobile First Design */
body{
  font-family:var(--heading-font-family);
  color:var(--dark-gray-color);

  /* Updates */
  background-color:#fff;
  /* padding-top:72px; */
}

/* Headings */
h1,h2,h3,h4,h5,h6{
  font-family:var(--heading-font-family);
  /* line-height:var(--heading-line-height); */
  margin-bottom:var(--heading-margin-bottom);
  color:var(--black-color);
}

/* Base Text styles */
p,li,a,span,button{
  font-family:var(--base-text-font-family);
}

ul{
  list-style-type:none;
  padding:0;
  margin:0;
}

/* Links */
a{
  display:block;
  text-decoration:none;
  color:var(--black-color);
}

a:focus,
a:hover{
  cursor:var(--link-cursor-type);
  text-decoration:underline;
}

p{
  line-height:var(--paragraph-line-height);
  color:var(--dark-gray-color);
}

i{
  vertical-align:middle;
}

/* Header */
.js-main-header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:70px;
  z-index:var(--max-z-index);
  background-color: var(--transparent-bg-color);
  transition: background-color ease-in-out 0.5s;
}

.js-main-header .container{
  justify-content:space-between;
  align-items:center;
  height:100%;
  padding:20px;
}

/*Navigation Bar*/
.nav-link-items{
  display:none;
  color:var(--white-color);
}

.nav-link-items .nav-link-item{
  margin-right:16px;
  margin-left:16px;
}

.nav-link-items .nav-link-item:last-child{
  margin-right:0;
}

.nav-link-items .nav-link-item a{
  color:var(--white-color);
}

/*Hamburger Toggle and Website Logo*/
.js-navBar-Toggle i,
.logo i{
    color:var(--white-color);
}

.logo a{
  letter-spacing: 1.5px;
}

/* Main */
.js-main{
  position:relative;
  height:auto;
  background-color:var(--white-bg-color);
}

.js-main section:nth-child(odd){
  background-color:var(--light-gray-color);
}

/* Hero */
.js-hero{
  position:relative;
  /* Update */
  height:100vh;
  background-color:#333;
  background-image:url("https://images.pexels.com/photos/1546168/pexels-photo-1546168.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  z-index:var(--med-z-index);
}

/* Update --  Overlay*/
.js-hero::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  z-index:var(--min-z-index);
}

.js-hero .container{
  flex-direction:column;
  justify-content:center;
  text-align:center;
  height:100%;
  --container-max-width:100%;
  max-width:var(--container-max-width);
  padding:20px;
}

.js-hero .container .js-hero-description p{
  text-align:center;
}

.js-hero h1,
.js-hero p{
  color:var(--white-color);
}

.js-hero .js-hero-description{
  margin-bottom:var(--div-margin-bottom);
  padding:0;
  text-align:left;
}

.js-hero .js-hero-cta-buttons a:not(:last-child){
  margin-right:16px;
}

/* Featured Listings */
.js-main .cards .featured-listing-card .card-image-container img{
  border-top-left-radius:1em;
  border-top-right-radius:1em;
}

.js-main .cards .featured-listing-card .card-description,
.js-main .cards .featured-listing-card .card-description .card-location-features{
  flex-direction:column;
  gap:0;
  padding-left:0;
  padding-right:0;
}

.js-main .cards .featured-listing-card .card-description .card-title-price-container,
.js-main .cards .featured-listing-card .card-description .card-location-features{
  justify-content:space-between;
  padding:0;
}

.js-main .cards .featured-listing-card .card-description .card-location-features{
  align-items:flex-start;
}

.card-title-price-container .property-title{
  font-size:1.2rem;
}

.js-main .cards .featured-listing-card .card-description .card-location-features .location{
  font-size:0.95rem;
}

.js-main .cards .featured-listing-card .card-description .card-location-features .street{
  font-size:0.85rem;
}

.js-main .cards .featured-listing-card .card-description .card-title-price-container .property-price{
  font-weight:500;
  font-size:0.9rem;
  color:var(--black-color);
}

.js-main .cards .featured-listing-card .card-description .card-location-features .card-key-info{
  width:100%;
  justify-content: space-between;
  align-items:center;
  padding-left:0;
  padding-right:0;
}

.js-main .cards .featured-listing-card .card-description .card-location-features .card-key-info .key-info span,
.js-main .cards .featured-listing-card .card-description .card-location-features .card-key-info .key-info i{
  color:var(--black-color);
  font-size:0.87rem;
}

.js-main .cards .featured-listing-card .card-description .card-location-features p{
  color:var(--dark-gray-color);
}

.js-main .cards .featured-listing-card .card-description .card-button-container{
  align-self: center;
  margin-top:6px;
}


/* Team Section */
.team-member-card{
  display:flex;
  flex-direction:column;
}

.js-main .cards .team-member-card .card-image-container{
  border-radius:50%;
  overflow:hidden;
  border:2px groove orange;
}

.js-main .cards .team-member-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.team-member-card .card-description{
  flex-direction:column;
}

.card-contact-info span{
  margin-right:0.25em;
}

.card-contact-info a{
  display:inline-block;
}

/* Client Reviews */


/* Property Buying Tips */

/* Footer */
.js-footer{
  /* position:relative;
  bottom:0; */
  background-color:var(--dark-gray-bg-color);
}

.js-footer *{
  color:#fff;
}
