/* /Import Font Family Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

/*Mobile First Design*/

body{
  font-family:"Poppins",sans-serif;
  font-size:1rem;
  /* padding-top:72px; */
  padding-top:70px;
  color:#333;
}

a{
  text-decoration:none;
  cursor:pointer;
  color:#fff;
}

ul{
  list-style-type:none;
  padding:0;
  margin:0;
}

h1,h2,h3,h4,h5{
  margin-bottom:5px;
}

h1{
  font-size:32px;
}

h2{
  font-size:24px;
}

/* Header */
.js-main-header-home-page{
  background-image:url("https://images.pexels.com/photos/1546168/pexels-photo-1546168.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width:100%;
  height:100vh;
  color:#fff;
}

.logo i{
  font-size:24px;
}

/*Navigation Bar*/
.js-navigation-container{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:999;
  background-color:#333;
  color:#fff;
  padding:8px 16px;
  height:70px;
  /* width:100%; */
}

.js-navBar-createAcc-Container{
  display:none;
}

/* Navigation Bar Toggle Bar */
.js-navBar-Toggle{
  display:block;
}

.js-navBar-Toggle i{
  font-size:24px;
}

/*Hero*/
.js-hero-section{
  padding:24px 16px;
}

/* Main  */
.js-main{
  /* padding-right:16px;
  padding-left:16px; */
  /* padding:24px 16px; */
}

/* Reviews Styles */
.client_reviews_container .card{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding:8px;
  gap:8px;
}

.client_reviews_container .card img{
  height:100%;
  width:100%;
  object-fit:fill;
}


/* Media Queries */
@media only screen and (min-width:768px) {
  .js-main-header-home-page{
    background-position: center;
  }
}